.title{
    text-align: center;
    color: '#FF5722';
    margin-bottom: 10px !important;
}

.Monthlybudget_table{
    margin-top: 10px;
}

.container{
    margin-top: 100px;
    margin-left: 245px; 
}